<script id="introductionTemplate" type="text/x-jquery-tmpl">
    <h2>Repository - Java</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae posuere ante. Vestibulum ante ipsum primis
        in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam dictum tincidunt purus eget molestie.
        Suspendisse potenti. Vestibulum laoreet ultricies sapien, et imperdiet est pharetra vel. Vestibulum ac libero
        sed dolor posuere tristique. Sed sit amet risus vitae leo consequat pretium at sed tortor. Donec nibh urna,
        vulputate ac sodales a, ornare ac diam. In hac habitasse platea dictumst. Praesent egestas leo vel velit
        condimentum ullamcorper. Nulla luctus tellus in ante laoreet id rutrum lectus aliquet.</p>

<pre class="prettyprint linenums">
var randomInteger = function (M, N) { \n
    return Math.floor(M + (1 + N - M) * Math.random()); \n
}; \n
\n
var generateLuckyNumbers = function () { \n
    var luckNumbers = []; \n
    for (var i = 0; i < 6; i++) {  \n
        luckNumbers.push(randomInteger(1, 100));  \n
    }  \n
    return luckNumbers; \n
}; \n
</pre>

    <p>Morbi libero sapien, mollis nec mollis id, sagittis non turpis. Pellentesque convallis sollicitudin diam iaculis
        eleifend. Etiam accumsan viverra auctor. In eget ligula eget nunc venenatis interdum. In diam erat, adipiscing
        at suscipit vitae, consequat eu nulla. Nulla magna lacus, blandit non aliquet in, tincidunt id est. Nam at arcu
        sem. Proin hendrerit tristique augue quis congue. Nam eget neque fermentum nulla scelerisque adipiscing.</p>

    <p>Maecenas ac eros elit, nec dignissim justo. Phasellus ut sapien massa. Etiam et lectus neque. Nunc gravida enim
        tristique risus porttitor scelerisque venenatis diam convallis. Pellentesque quam velit, pulvinar aliquam
        ullamcorper ac, feugiat lobortis justo. Aliquam erat volutpat. Nam facilisis, augue non pulvinar laoreet, augue
        eros pellentesque leo, vel scelerisque dui dui id ipsum. Nam quam augue, tempus et scelerisque quis, ultrices in
        nulla. Aenean in arcu libero, id faucibus enim. Cras vitae purus tortor. In lobortis tincidunt nulla, at
        imperdiet arcu fermentum vulputate. In hac habitasse platea dictumst. Quisque vel mauris ac mi aliquet laoreet
        quis ac est.</p>

    <p>Integer eleifend, felis eget vulputate mattis, odio est feugiat purus, quis placerat purus justo vel nunc.
        Suspendisse potenti. Cras facilisis elit vitae ante rhoncus auctor. Nam commodo dapibus risus, ac tempus lectus
        tempor id. Duis a urna mauris, interdum convallis ipsum. In vel elit nisl, non hendrerit nisi. Etiam sit amet
        turpis a mi aliquam ullamcorper. Aliquam nisl nulla, ornare id pulvinar eu, aliquet a mi. Class aptent taciti
        sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam adipiscing, nibh vel molestie
        sagittis, neque tellus bibendum diam, eu luctus justo ligula ac erat. Duis rhoncus, velit sit amet dapibus
        vehicula, neque quam consectetur ligula, eu facilisis augue sem id nulla. Pellentesque tincidunt, magna mattis
        pretium mattis, lorem lectus porta metus, id auctor lorem sapien vitae nisl.</p>

    <p>In mollis fermentum sodales. Pellentesque eget massa vel purus volutpat tristique. Suspendisse diam elit, luctus
        et pharetra in, pellentesque id nulla. Nullam ultricies arcu ut augue iaculis facilisis. Praesent suscipit
        luctus nulla, at condimentum quam venenatis a. Maecenas felis mauris, tincidunt at dictum ut, vulputate nec dui.
        Nullam id velit leo, id placerat lectus. Vestibulum aliquet ultrices eros, at porta libero fermentum ac.</p>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Integer eleifend</th>
            <th>Duis</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>In mollis fermentum sodales</td>
            <td>placerat lectus</td>
        </tr>
        <tr>
            <td>In mollis fermentum sodales</td>
            <td>placerat lectus</td>
        </tr>
        <tr>
            <td>In mollis fermentum sodales</td>
            <td>placerat lectus</td>
        </tr>
        <tr>
            <td>In mollis fermentum sodales</td>
            <td>placerat lectus</td>
        </tr>
        </tbody>
    </table>

</script>